<div class="jumbotron text-center" id="residents_index">
  <h1>Residents</h1><br><br><br><br>
</div><br>




<div class="row">
  <div class="col-md-12">
  </div>
  <% @users.each do |user| %>
    <div class="row">
      <div class="col-md-2">
        <% if user.photo.file.nil? %>
          <%= image_tag("avatar_placeholder.png", size: '50x50', class: 'center-block')%>
        <% else %>
          <%= image_tag(user.photo.url.to_s, alt: "#{user.email}'s Avatar", size: '50x50', class: 'center-block') %>
        <% end %>
      </div>
      <div class="col-md-8 user-index-name" style="line-height: 50px"><%= link_to user.name, user_path(user) %></div>
      <div class="col-md-2"><%= link_to "Send message", new_private_message_path(user), class: "btn btn-warning" %></div>
    </div>
    <hr>
  <% end %>
</div>
