<div class="row">
  <div class="col-md-12"><%= link_to 'Back', events_path, class: "btn btn-default" %></div>
  <div class="col-md-12 text-center"><h1>Edit event</h1></div>
</div>

<%= render 'form', :event => @event %>