<div class="jumbotron text-center" id="events_index">
  <h1>Events</h1><br><br><br><br>
</div><br>

<%= link_to "Create an event", new_event_path, class: "btn btn-success btn-block" %>
<div id="calendar"></div>