<div class="row text-center">
<h1> How much would you like to deposit?</h1>

<form action="new" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
  <div class="col-md-offset-4 col-md-3">
	 <input type="number" min="0.01" step="0.01" placeholder="0.00" name="amount" class="form-control">
  </div>
  <div class="col-md-1">
	<input type="submit" value="Confirm" class="btn btn-success">
  </div>
</form>

</div>