<p> How much would you like to deposit?</p>

<form action="new" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
	<input type="number" min="0.01" step="0.01" placeholder="0.00" name="amount">
	<input type="submit" value="Confirm">
</form>
