<!-- listing text -->
<!-- listing price -->

<div class="row">
  <div class="col-md-12 text-center">
	 <h2>Please choose your payment method for your <%= link_to 'reservation', reservation_path(@reservation) %>.</h2>
  </div>

  <div class="col-md-offset-5 col-md-3">
  	<form action="decision" method="post">
    	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    	<input type="radio" id="cash" name="method" value="Cash"> Cash<br>
    	<input type="radio" id="credit" name="method" value="Credit"> Credit<br>
    	<input type="submit" value="Confirm" class="btn btn-warning">
	  </form>
  </div>

</div>