/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require fullcalendar
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

table tr th {background:#222; color:#fff; padding:0; border:#111 solid 1px;}
table tr td {border:1px #ccc solid; padding:5px;}
table tr td.right {background: #eee;}
table tr td h4 {margin:0; padding:0; font-weight:normal;}

body { padding-top: 70px; }

#calendar {padding-top: 10px;}

.event-body {
  font-size: 18px;
  .event-header {
  font-size: 20px;
  color: #00004d;
  }
}

.inline form { display: inline; }

#home1 {

    background-image: url(/assets/city10.jpg);
    background-position: 0% 75%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-shadow: white 0.3em 0.3em 0.3em;
    padding-top: 20%;
    padding-bottom: 20%;

}

#home2 {
    margin-bottom: 0px;
    background-image: url(/assets/city21.jpg);
    background-position: 0% 65%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-shadow: white 0.3em 0.3em 0.3em;
    opacity: 0.7;

}

#notice_index {
    margin-bottom: 25px;
    background-image: url(/assets/citylong.png);
    background-position: 0% 70%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-shadow: white 0.3em 0.3em 0.3em;
}

#forum_index {
    margin-bottom: 0px;
    background-image: url(/assets/citylong.png);
    background-position: 0% 75%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-shadow: white 0.3em 0.3em 0.3em;
}

#events_index {
    margin-bottom: 0px;
    background-image: url(/assets/citylong.png);
    background-position: 0% 75%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-shadow: white 0.3em 0.3em 0.3em;
}

#listings_index {
    margin-bottom: 0px;
    background-image: url(/assets/citylong.png);
    background-position: 0% 75%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-shadow: white 0.3em 0.3em 0.3em;
}

#residents_index {
    margin-bottom: 0px;
    background-image: url(/assets/citylong.png);
    background-position: 0% 75%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-shadow: white 0.3em 0.3em 0.3em;
}

#new_notice {
    margin-bottom: 0px;
    background-image: url(/assets/city-footer.png);
    background-position: 0% 75%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-shadow: white 0.3em 0.3em 0.3em;
}

#user-pic {
  border-radius: 50%;
  padding-top: 10px;
}

.user-profile-name {
  font-size: 40px;
}

.user-balance {
  padding-top: 10px;
  font-size: 20px;
}

.user-detail {
  font-size: 20px;
}

.user-upload-form {
  display: inline-block;
  text-align: center;
  width: 300px;
  margin: 0 auto;
}

.user-index-name {
  font-size: 20px;
}

.listing-item {
  margin-bottom: 30px;
}
.listing-item a {
  border: none;
  text-align: center;
}
.listing-item a img {
  width: 350px;
  height: 260px;
  margin-bottom: 10px;
  float: left;
  border: 10px solid transparent;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.listing-item a h3 {
  font-size: 20px;
  color: #000;
  margin-bottom: 10px;
}
.listing-item a p {
  font-size: 14px;
  color: #cccccc;
  margin-bottom: 0;
}
.listing-item a:hover, .listing-item a:active, .listing-item a:focus {
  text-decoration: none;
}
.listing-item a:hover img, .listing-item a:active img, .listing-item a:focus img {
  border: 10px solid #000;
}

.search input[type=number] {
  height: 34px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.search input[type=number]:focus {
  border-color: #66afe9;
  outline: 0;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.search {
  padding-bottom: 120px;
  border-bottom: 1px solid black;
}

#nav-brand {
  font-family: 'Supermercado One', cursive;
  font-size: 40px;
}

.cozyco {
  font-family: 'Supermercado One', cursive;
}

.braintree-hosted-fields-focused {
  border: 1px solid #0275d8;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.braintree-hosted-fields-focused.focused-invalid {
  border: 1px solid #ebcccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(100,100,0,.6);
}

.your-reservations {
  padding-bottom: 5px;
  border-bottom: 1px solid #d9d9d9;
  font-size:20px;
}