/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require fullcalendar
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

table tr th {background:#222; color:#fff; padding:0; border:#111 solid 1px;}
table tr td {border:1px #ccc solid; padding:5px;}
table tr td.right {background: #eee;}
table tr td h4 {margin:0; padding:0; font-weight:normal;}

body { padding-top: 70px; }

#calendar {padding-top: 10px;}

.event-body {
  font-size: 18px;
  .event-header {
  font-size: 20px;
  color: #00004d;
  }
}

.inline form { display: inline; }


#home2 {
    margin-bottom: 0px;
    background-image: url(/assets/city18.jpg);
    background-position: 0% 75%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-shadow: white 0.3em 0.3em 0.3em;

}

#notice_index {
    margin-bottom: 0px;
    background-image: url(/assets/city18.jpg);
    background-position: 0% 75%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-shadow: white 0.3em 0.3em 0.3em;
}

#forum_index {
    margin-bottom: 0px;
    background-image: url(/assets/city18.jpg);
    background-position: 0% 75%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-shadow: white 0.3em 0.3em 0.3em;
}

#events_index {
    margin-bottom: 0px;
    background-image: url(/assets/city18.jpg);
    background-position: 0% 75%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-shadow: white 0.3em 0.3em 0.3em;
}

#listings_index {
    margin-bottom: 0px;
    background-image: url(/assets/city18.jpg);
    background-position: 0% 75%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-shadow: white 0.3em 0.3em 0.3em;
}

#user-pic {
  border-radius: 50%;
  padding-top: 10px;
}

.user-profile-name {
  font-size: 40px;
}

.user-balance {
  padding-top: 10px;
  font-size: 20px;
}

.user-detail {
  font-size: 20px;
}

.user-upload-form {
  display: inline-block;
  text-align: center;
  width: 300px;
  margin: 0 auto;
}
